/* line 10, ../../../../../usr/local/gems/toolkit-0.2.2/stylesheets/toolkit/_border-box.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../usr/local/gems/toolkit-0.2.2/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 4, ../sass/ad.scss */
body {
  margin: 0;
  padding: 0;
  background: blue;
  color: white;
}

/* line 11, ../sass/ad.scss */
a {
  color: white;
}
