@import "breakpoint";
@import "toolkit";

body {
  margin: 0;
  padding: 0;
  color: white;

  .skyscraper & {
    background: black;
  }

  .leaderboard & {
    background: orange;
  }

  .rectangle & {
    background: purple;
  }

  .banner & {
    background: blue;
  }
}

a {
  color: white;
}