@import "breakpoint";
@import "toolkit";

$medium: 432px;
$large: 864px;

body {
  margin: 0;
  padding: 0;
}

#main {
  width: 100%;
  height: 50vh;
  background: red;

  @include breakpoint($medium) {
    width: 60%;
    height: 100vh;
    float: left;
    clear: right;
  }

  @include breakpoint($large) {
    width: 75%;
  }
}

#sidebar {
  width: 100%;
  height: 50vh;
  background: red;

  @include breakpoint($medium) {
    width: 35%;
    height: 100vh;
    float: right;
    clear: right;
  }

  @include breakpoint($large) {
    width: 20%;
  }
}

[id^=ad-wrapper] {
  &.banner {
    @include intrinsic-ratio(300/50, 100%, 'iframe');
  }

  &.leaderboard {
    @include intrinsic-ratio(728/90, 100%, 'iframe');
  }

  &.rectangle {
    @include intrinsic-ratio(300/250, 100%, 'iframe');
  }

  &.skyscraper {
    @include intrinsic-ratio(160/600, 100%, 'iframe');
  }

}